# dot files
/.vscode/launch.json
/.settings
/.eide
/.cmsis
/.vscode
/.ai

# project out
/build
/bin
/obj
/out
/Drivers

# eide template
*.ept
*.eide-template
*.o
*.hex
*.d
*.crf
*.axf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex